.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



@font-face {
  font-family: 'perso'; /* Nome que você quer dar à sua fonte */
  src: url(/public/cream.otf) format('truetype'); /* Caminho para o arquivo da sua fonte */
  /* Adicione outros formatos de arquivo se desejar suporte a navegadores diferentes */
}

.perso_font {
  font-family: 'perso', sans-serif; /* Usando a fonte definida */
  /* Outros estilos para o h1 */
}


